@model PagedList.IPagedList<WebSieuThi.Models.SieuThi>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách siêu thị";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section styles {
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h3>
                <i class="fa fa-shopping-bag fa-2x fa-color-red"></i> @ViewBag.Title
                <a href="/Account/ExportToExcel" class="pull-right">Export to excel</a> <br />
                
                <a href="/Account/ImportToExcel" class="pull-right">Import to excel</a>
            </h3>
            
        </div>
        @if (TempData["Updated"] != null)
        {
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                @Html.Raw(TempData["Updated"])
            </div>
        }

    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default box box-primary">
            <div class="panel-heading">
                @using (Html.BeginForm("HeThongListSieuThi", "Account", FormMethod.Get, new { @class = "form-inline", role = "form", @id = "search-sieuthi", onsubmit = "return validate()" }))
                {

                    <div class="form-group">
                        @Html.TextBox("search", "", new { @class = "form-control", placeholder = "Nhập từ khóa cần tìm" })
                    </div>

                    <div class="form-group">
                        @if (ViewBag.lstloaihinhkd != null)
                        {
                            @Html.DropDownList("loaihinhkd", new SelectList(ViewBag.lstloaihinhkd, "Value", "Text"), "-Chọn loại hình kinh doanh siêu thị-", new { @class = "form-control width-200" })
                        }
                    </div>

                    <div class="form-group">
                        @if (ViewBag.lstdiachi != null)
                        {
                            @Html.DropDownList("diachi", new SelectList(ViewBag.lstdiachi, "Value", "Text"), "-Chọn địa chỉ siêu thị-", new { @class = "form-control width-200" })
                        }
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Tìm kiếm" />
                    </div>

                    <div class="list-style-buttons form-group pull-right">
                        <a href="#" id="list" data-toggle="tooltip" data-placement="bottom" title="Hiện thị kiểu danh sách">
                            <i class="fa fa-2x fa-list">
                            </i>
                        </a>
                        <a href="#" id="grid" data-toggle="tooltip" data-placement="bottom" title="Hiện thị kiểu bảng">
                            <i class="fa fa-2x fa-th-large"></i>
                        </a>
                    </div>
                }
            </div>

            <script>
                function validate() {
                    if (document.getElementById("search").value === "" && document.getElementById("loaihinhkd").value === "" && document.getElementById("diachi").value === "") {
                        alert("Vui lòng nhập từ khóa hoặc chọn ít nhất một tiêu chí tìm kiếm");
                        return false;
                    } else {
                        return true;
                    };

                }

            </script>



            <div class="panel-body">
                @if (Model.Count > 0)
                {
                    <div id="products" class="row list-group auto-clear">

                        @foreach (var item in Model)
                        {
                            
                            <div class="item col-md-4 list-group-item item-sieuthi">
                                <div class="thumbnail">
                                    <div class="caption">
                                        <h3 class="group inner list-group-item-heading">
                                            @item.TenSieuThi
                                        </h3>
                                        <p class="group inner list-group-item-text"><b>Loại hình kinh doanh: </b>@item.HeThong.LoaiHinhKD</p>
                                        <p class="group inner list-group-item-text"><b>Địa chỉ: </b>@item.DiaChi</p>
                                        <p class="group inner list-group-item-text"><b>Số điện thoại: </b>@item.DienThoai</p>
                                        <p class="group inner list-group-item-text">
                                            <b>Cước phí vận chuyển: </b>@item.CuocPhiVC
                                        </p>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                @Html.RouteLink("Sửa thông tin", "HethongEditST", new { id = item.SieuThiId }, htmlAttributes: new { @class = "btn btn-success" })
                                                @Html.RouteLink("Xóa", "HethongDeleteST", new { id = item.SieuThiId }, htmlAttributes: new { @class = "btn btn-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        }
                    </div>
                    <div class="row pull-right">
                        <div class="col-md-12">
                            @Html.PagedListPager(Model, page => Url.RouteUrl("HethongListST", new { search = ViewBag.search, loaihinhkd = ViewBag.loaihinhkd, diachi = ViewBag.diachi, pg = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                        </div>
                    </div>
                }
                else
                {
                    <span>Không có siêu thị nào.</span>
                }

            </div>
        </div>
    </div>
</div>

@if (ViewBag.loaihinhkd != null)
{
    <script>
        $('#loaihinhkd').val('@Html.Raw(ViewBag.loaihinhkd)');
    </script>
}

@if (ViewBag.diachi != null)
{
    <script>
        $('#diachi').val('@Html.Raw(ViewBag.diachi)');
    </script>
}
@section Scripts {

    <script>
        $(document).ready(function () {
            $('#list').click(function (event) {
                event.preventDefault();
                $('#products .item').addClass('list-group-item').removeClass('grid-group-item');
            });
            $('#grid').click(function (event) {
                event.preventDefault();
                $('#products .item').removeClass('list-group-item').addClass('grid-group-item');
            });

            $('#loaihinhkd').on('change', function () {
                if ($(this).val() !== "") {
                    $('#search-sieuthi').submit();
                }
            })

            $('#diachi').on('change', function () {
                if ($(this).val() !== "") {
                    $('#search-sieuthi').submit();
                }
            })

        })

        function addClearFilter() {
            $('#search-sieuthi').append('<a href="#" id="clearFilter">Xóa bộ lọc</a>');

            $('#clearFilter').on('click', function () {
                window.location.href = "/admin/hethong/dssieuthi";
            })
        }
    </script>

    @if (ViewBag.search != null || ViewBag.loaihinhkd != null || ViewBag.diachi != null)
    {
        <script>
            addClearFilter();
        </script>
    }
}