@model WebSieuThi.Models.SuKienChungModel
@{
    ViewBag.Title = "Thêm mới sự kiện";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section styles {
    @*@Styles.Render("~/Content/dropzonescss")*@
    <link href="~/Scripts/jul/css/jquery.fileupload.css" rel="stylesheet" />
    <link href="~/Scripts/jul/css/jquery.fileupload-ui.css" rel="stylesheet" />
    <link href="~/Scripts/jul/css/jquery.fileupload-noscript.css" rel="stylesheet" />
    <link href="~/Scripts/jul/css/jquery.fileupload-ui-noscript.css" rel="stylesheet" />
}
<script src="~/Scripts/jquery-ui-1.12.0.min.js"></script>


<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h3><i class="fa fa-bell-o fa-2x fa-color-red"></i> @ViewBag.Title</h3>
        </div>

        @if (TempData["Updated"] != null)
        {
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                @Html.Raw(TempData["Updated"])
            </div>
        }

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                @Html.Raw(TempData["Error"])
            </div>
        }
    </div>

    <!-- /.col-lg-12 -->
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default box box-primary">
            <div class="panel-body">

                @using (Html.BeginForm("HeThongAddNewSuKien", "SuKiens", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "HeThongAddNewSuKien", onsubmit = "return validate()" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.HeThongId)
                    if (ViewBag.hethongid != null)
                    {
                        <script>
                            $(window).load(function () {
                                $('#HeThongId').val('@ViewBag.hethongid');
                            });
                        </script>
                    }


                    <div class="form-group">
                        @Html.LabelFor(m => m.TDSuKien, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.TDSuKien, new { @class = "form-control", placeholder = "Tên sự kiện" })
                            @Html.ValidationMessageFor(m => m.TDSuKien, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.DsAnh, new { @class = "col-md-2 control-label" })
                        @Html.TextBoxFor(m => m.DsAnh, new { @class = "form-control" })
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.NDSuKien, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.NDSuKien, htmlAttributes: new { @class = "form-control", type = "number", row = 10 })
                            @Html.ValidationMessageFor(m => m.NDSuKien, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="form-group" id="ngaythangsukien">
                        <label class="col-md-2 control-label">Ngày sự kiện: </label>
                        <div class="col-md-5">
                            @Html.LabelFor(model => model.NgayBD, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(m => m.NgayBD)
                            @Html.ValidationMessageFor(m => m.NgayBD, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-5">
                            @Html.LabelFor(model => model.NgayKT, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(m => m.NgayKT)
                            @Html.ValidationMessageFor(m => m.NgayKT, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <label>
                                @Html.CheckBoxFor(model => model.ConfirmSend) Xác nhận gửi thông báo
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-primary" value="Thêm sự kiện" />
                        </div>
                    </div>
                }

                <form id="fileupload" action="/Account/SaveAnhImgur" method="POST" enctype="multipart/form-data">
                    <!-- Redirect browsers with JavaScript disabled to the origin page -->
                    <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                    <div class="row fileupload-buttonbar">
                        <div class="col-lg-7">
                            <!-- The fileinput-button span is used to style the file input field as button -->
                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Add files...</span>
                                <input type="file" name="files[]" multiple>
                            </span>
                            <button type="submit" class="btn btn-primary start">
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>Start upload</span>
                            </button>
                            <button type="reset" class="btn btn-warning cancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                                <span>Cancel upload</span>
                            </button>
                            <button type="button" class="btn btn-danger delete">
                                <i class="glyphicon glyphicon-trash"></i>
                                <span>Delete</span>
                            </button>
                            <input type="checkbox" class="toggle">
                            <!-- The global file processing state -->
                            <span class="fileupload-process"></span>
                        </div>
                        <!-- The global progress state -->
                        <div class="col-lg-5 fileupload-progress fade">
                            <!-- The global progress bar -->
                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                            </div>
                            <!-- The extended global progress state -->
                            <div class="progress-extended">&nbsp;</div>
                        </div>
                    </div>
                    <!-- The table listing the files available for upload/download -->
                    <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                </form>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/dropzonescripts")*@

    <script src="~/Scripts/jul/js/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/jul/js/jquery.fileupload.js"></script>
<script src="~/Scripts/jul/js/jquery.fileupload-image.js"></script>
    <script src="~/Scripts/jul/js/jquery.fileupload-ui.js"></script>
<script src="~/Scripts/jul/js/main.js"></script>

    <script>

        $(function () {
            CKEDITOR.replace('NDSuKien',
            {
                uiColor: '#337ab7',
                height: '200px',
            });
        });

        function validate() {
            var _fd = $('#NgayBD').val();
            var _td = $('#NgayKT').val();
            if (_fd !== "" && _td !== "") {
                var valid = compareDate(_fd, _td);
                if (!valid) {
                    alert('Ngày bắt đầu phải nhỏ hơn ngày kết thúc.');
                    $('#NgayKT').focus();
                    return false;
                }

            }
        }

        $(function () {
            $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }
                var ok = true;
                try {
                    $.datepicker.parseDate('yy-mm-dd', value);
                }
                catch (err) {
                    ok = false;
                }
                return ok;
            });
            $(".datefield").datepicker({ dateFormat: 'yy-mm-dd', changeYear: true });
        });

        // jqXHRData needed for grabbing by data object of fileupload scope
        var jqXHRData;

        $(document).ready(function () {

            //Initialization of fileupload
            initSimpleFileUpload();

            //Handler for "Start upload" button
            $("#hl-start-upload").on('click', function () {
                if (jqXHRData) {
                    jqXHRData.submit();
                }
                return false;
            });
        });

        function initSimpleFileUpload() {
            'use strict';

            $('#fu-my-simple-upload').fileupload({
                url: '/Account/SaveAnhImgur',
                dataType: 'json',
                add: function (e, data) {
                    jqXHRData = data
                },
                done: function (event, data) {
                    console.log(data);
                },
                fail: function (event, data) {
                    if (data.files[0].error) {
                        alert(data.files[0].error);
                    }
                }
            });
        }


    </script>
}